
<app-navigation
  class="coded-navbar pc-sidebar"
  [ngClass]="{
    'navbar-collapsed': navCollapsed,
    'mob-open': navCollapsedMob
  }"
  (NavCollapsedMob)="navMobClick()"
></app-navigation>

<app-nav-bar (NavCollapse)="this.navCollapsed = !this.navCollapsed" (NavCollapsedMob)="navMobClick()"></app-nav-bar>

<div class="pc-container">
  <div class="coded-wrapper">
    <div class="coded-content">
      <div class="coded-inner-content">
        <app-breadcrumb></app-breadcrumb>
        <div class="main-body">
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
              <!-- Add your table columns here using matColumnDef -->
     

              <ng-container matColumnDef="user id">
                <mat-header-cell *matHeaderCellDef [style.background-color]="color" style="color: white !important;"> User ID
                </mat-header-cell> <br>
                <mat-cell *matCellDef="let element; let i = index;">{{element.id}}

                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="full name">
                <mat-header-cell *matHeaderCellDef [style.background-color]="color" style="color: white !important;">Full Name</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef [style.background-color]="color" style="color: white !important;">Email</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="phone number">
                <mat-header-cell *matHeaderCellDef [style.background-color]="color" style="color: white !important;">Phone Number</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.phone}}
                </mat-cell>
              </ng-container>


                            
              <ng-container matColumnDef="is Active">
                <mat-header-cell *matHeaderCellDef [style.background-color]="color" style="color: white !important;">Invoice Prefix</mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                  {{element.invoice_prefix}}
                </mat-cell>
              </ng-container>
              
              <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef [style.background-color]="color" style="color: white !important;">Paid Amount</mat-header-cell>
                <mat-cell *matCellDef="let element"> $60
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="device details">
                <mat-header-cell *matHeaderCellDef [style.background-color]="color" style="color: white !important;">Paid Currency</mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                  
                  {{element.currency}}
                </mat-cell>
              </ng-container>
<!-- 
              <ng-container matColumnDef="referral">
                <mat-header-cell *matHeaderCellDef [style.background-color]="color" style="color: white !important;">Referred User</mat-header-cell>
                <mat-cell *matCellDef="let element"> <button (click)="referredCode(element)" class="button">View</button>
                </mat-cell>
              </ng-container> -->
              <mat-header-row *matHeaderRowDef="displayedColumns;" style="background-color: #707070;color: white;">
              </mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>




              <!-- Define the table rows -->
         
            </table>
          
            <!-- Add paginator below the table -->
            <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- popup.component.html -->

<div *ngIf="editpopup == true" class="popup-overlay">
  <div class="popup" style="width:400px !important;height: 575px !important;">
    <h2 style="border-bottom: 1px solid gray;">Edit User Information</h2>
    <!-- <p>This is the content of the popup.</p> -->
    <div class="popupBody" style="line-height: 2;">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div style="pointer-events: none;" class="divContainer">
          <label>Email:</label>
          <input  type="text" formControlName="email">
        </div>
        <div class="divContainer">
          <label>Phone Number:</label>
          <input type="text" formControlName="phoneNumber">
        </div>
        <div class="divContainer">
          <label>Full Name:</label>
          <input type="text" formControlName="fullName">
        </div>
        <div style="pointer-events: none;" class="divContainer">
          <label>Subscribed:</label>
          <select formControlName="Subscribed" id="cars" name="cars">
            <option [value]="true">Yes</option>
            <option [value]="false">No</option>
          </select>        </div>
        <div style="pointer-events: none;" class="divContainer">
          <label>User ID:</label>
          <input type="text" formControlName="userId">
        </div>
        <div style="pointer-events: none;" class="divContainer">
          <label>Password:</label>
          <input type="password" formControlName="password">
        </div>
        <div class="divContainer">
          <label>Active:</label>
          <select formControlName="active" id="cars" name="cars">
            <option [value]="true">Yes</option>
            <option [value]="false">No</option>
          </select>
        </div>
        <div class="divContainer">
          <label>Banned:</label>
          <select formControlName="banned" id="cars" name="cars">
            <option [value]="true">Yes</option>
            <option [value]="false">No</option>
          </select>
        </div>
        <div class="renameBtn mt-4">
          <button style="color:teal !important"  (click)="editpopup = false" class="docFavCancleBtn" >Cancel</button>
          <button class="docFavSaveBtn" (click)="editData()"  type="submit">Edit</button>
        </div>    
      </form>
 </div>
</div>
    </div>

<div *ngIf="popup == true" class="popup-overlay">
  <div class="popup">
    <h2 style="border-bottom: 1px solid gray;">View Device Information</h2>
    <!-- <p>This is the content of the popup.</p> -->
    <div class="popupBody">
<div class="row" style="text-align: left;">
  <span class="mt-2">OS : <b>{{selectedUser.OS}}</b></span>
  <span class="mt-2">Device Type : <b>{{selectedUser.osVersion}}</b></span>
  <span class="mt-2">screen_resolution : <b>{{selectedUser.screen_resolution}}</b></span>
  <span class="mt-2">userAgent : <b>{{selectedUser.userAgent}}</b></span>
  <span class="mt-2 text-center">
    <img style="width: 100px;" *ngIf="selectedUser.isDesktop" src="../../assets/images/desktop.png" alt="desktop">
    <img style="width: 100px;" *ngIf="selectedUser.isTablet"  src="../../assets/images/tablet.png" alt="desktop">
    <img style="width: 100px;" *ngIf="selectedUser.isMobile"  src="../../assets/images/mobile.png" alt="desktop">
  </span>
</div>
    </div>
    <div class="renameBtn">
      <button style="color:white!important"   (click)="popup = false" class="docFavSaveBtn" >Close</button>
      <!-- <button class="docFavSaveBtn" >Delete</button> -->
    </div>    
      
    </div>
  </div>


  <div *ngIf="referalFlag == true" class="popup-overlay">
    <div class="popup">
      <h2 style="border-bottom: 1px solid gray;">Referral Information</h2>
      <!-- <p>This is the content of the popup.</p> -->
      <div class="popupBody">
  <div class="row" style="text-align: left;">
    <span style="font-weight: 700;text-decoration: underline;" class="mt-2">Total Reffered People : <b>{{referredDetails.length}}</b>
    </span>
    <img style="width:75px" *ngFor="let items of referredDetails" src="../../assets/images/human.png" alt="human">

    <!-- <span class="mt-2">Device Type : <b>{{selectedUser.osVersion}}</b></span>
    <span class="mt-2">screen_resolution : <b>{{selectedUser.screen_resolution}}</b></span>
    <span class="mt-2">userAgent : <b>{{selectedUser.userAgent}}</b></span> -->
    <div class="row mt-3">
      <span style="font-weight: 700;text-decoration: underline;">Referral Details</span>
    <div *ngFor="let items of referredDetails;index as i" style="border: 1px solid gray;" class="col-md-6 mt-3">
    <span class="mt-2">Sl No : <b>{{i+1}}</b></span><br>
    <span class="mt-2">Name : <b>{{items.full_name}}</b></span><br>
    <span class="mt-2">Phone Number : <b>{{items.Phone_Number}}</b></span><br>
    <span class="mt-2">email : <b>{{items.email}}</b></span><br>
    <span class="mt-2">Purchased : <b>{{items.authenticated ? 'Yes':'No'}}</b></span>
      </div>
    </div>
    <!-- <span class="mt-2 text-center">
      <img style="width: 100px;" *ngIf="selectedUser.isDesktop" src="../../assets/images/desktop.png" alt="desktop">
      <img style="width: 100px;" *ngIf="selectedUser.isTablet"  src="../../assets/images/tablet.png" alt="desktop">
      <img style="width: 100px;" *ngIf="selectedUser.isMobile"  src="../../assets/images/mobile.png" alt="desktop">
    </span> -->
  </div>
      </div>
      <div class="renameBtn">
        <button style="color:white!important"   (click)="referalFlag = false" class="docFavSaveBtn" >Close</button>
        <!-- <button class="docFavSaveBtn" >Delete</button> -->
      </div>    
        
      </div>
    </div>
<footer class="pc-footer">
  <div class="footer-wrapper container-fluid">
    <div class="row">
      <div class="col my-1">
        <p class="m-0"> Copyright &copy; <a href="" target="_blank">L-earn Design and Developed by Boom Tech</a> </p>
      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item"><a href="/" target="_blank">Home</a></li>
          <li class="list-inline-item">
            <a href="/privacy-policy/" target="_blank">Privacy Policy</a>
          </li>
          <li class="list-inline-item"><a href="" target="_blank">Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<app-configuration></app-configuration>
