<!-- app.component.html -->
<!-- <app-splash *ngIf="showSplash"></app-splash> -->
<!-- <div *ngIf="!showSplash"> -->
  <!-- Your main application content goes here -->
  <div style="overflow-x: hidden;">
    <router-outlet></router-outlet>
  </div>
<!-- </div> -->
<!-- <div *ngIf="!tokenPopUp" class="popup-overlay">
  <div class="popup-container">
    <h2 style="padding: 20px;background-color: #007bff !important;color: white;font-weight: 800;">Notification Request</h2>
    <div class="row mt-2">
      <span style="font-size: 15px;padding: 10px;font-weight: 800;padding: 20px;">
        To receieve real time Notification for positions enable notifications.
      </span>
    </div>
    <div class="col-md-12 text-center mb-3" style="display: flex;justify-content: space-evenly;">
      <button (click)="requestNotificationPermission()" style="background-color: green;margin-left: 5px;" class="close-button">Enable</button>
      <button (click)="tokenPopUp = true" style="background-color: red;" class="close-button">Close</button>
    </div>
  </div>
</div> -->