
<app-navigation
  class="coded-navbar pc-sidebar"
  [ngClass]="{
    'navbar-collapsed': navCollapsed,
    'mob-open': navCollapsedMob
  }"
  (NavCollapsedMob)="navMobClick()"
></app-navigation>

<app-nav-bar (NavCollapse)="this.navCollapsed = !this.navCollapsed" (NavCollapsedMob)="navMobClick()"></app-nav-bar>

<div class="pc-container">
  <div class="coded-wrapper">
    <div class="coded-content">
      <div class="coded-inner-content">
        <app-breadcrumb></app-breadcrumb>
        <div class="main-body">
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
              <!-- Add your table columns here using matColumnDef -->
     

              <ng-container matColumnDef="user id">
                <mat-header-cell *matHeaderCellDef [style.background-color]="color" style="color: white !important;">English Video
                </mat-header-cell> <br>
                <mat-cell *matCellDef="let element; let i = index;">
                    <div style="width: 300px;height: 300px;padding: 15px;">
                        <vg-player style="width: 275px;height: 250px;">
                            <vg-overlay-play></vg-overlay-play>
                            <vg-buffering></vg-buffering>
                            <vg-scrub-bar>
                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                            </vg-scrub-bar>
                            <vg-controls style="justify-content: center !important;">
                                <vg-play-pause></vg-play-pause>
                                <vg-playback-button></vg-playback-button>
                                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                                <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                                <!-- <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display> -->
                                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                                <vg-track-selector></vg-track-selector>
                                <vg-mute></vg-mute>
                                <vg-volume></vg-volume>
                                            <!-- <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display> -->
                    
                                <vg-fullscreen></vg-fullscreen>
                            </vg-controls>
                            <video [vgMedia]="$any(media)" #media [src]="element.videourl" id="singleVideo" preload="auto" crossorigin>
                                <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                                <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt" srclang="en" default>
                                <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt" srclang="es">
                            </video>
                        </vg-player>
    
                    </div>
         
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="full name">
                <mat-header-cell *matHeaderCellDef [style.background-color]="color" style="color: white !important;">English Title</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.title}}
                </mat-cell>
              </ng-container>

              
              <ng-container matColumnDef="subtitle">
                <mat-header-cell *matHeaderCellDef [style.background-color]="color" style="color: white !important;">English SubTitle</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.subtitle}}
                </mat-cell>
              </ng-container>

              
              <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef [style.background-color]="color" style="color: white !important;">Sub Titile</mat-header-cell>
                <mat-cell *matCellDef="let element"> <div class="row">
                  <button (click)="editPopup(element)" class="button">Edit</button>
                </div>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns;" style="background-color: #707070;color: white;">
              </mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>




              <!-- Define the table rows -->
         
            </table>
          
            <!-- Add paginator below the table -->
            <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- popup.component.html -->

<div *ngIf="editpopup == true" class="popup-overlay">
  <div class="popup" style="width:400px !important;height: 575px !important;">
    <h2 style="border-bottom: 1px solid gray;">Edit User Information</h2>
    <!-- <p>This is the content of the popup.</p> -->
    <div class="popupBody" style="line-height: 2;">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="divContainer">
          <label>Email:</label>
          <input type="text" formControlName="email">
        </div>
        <div class="divContainer">
          <label>Phone Number:</label>
          <input type="text" formControlName="phoneNumber">
        </div>
        <div class="divContainer">
          <label>Full Name:</label>
          <input type="text" formControlName="fullName">
        </div>
        <div class="divContainer">
          <label>Language:</label>
          <input type="text" formControlName="language">
        </div>
        <div class="divContainer">
          <label>User ID:</label>
          <input type="text" formControlName="userId">
        </div>
        <div class="divContainer">
          <label>Password:</label>
          <input type="password" formControlName="password">
        </div>
        <div class="divContainer">
          <label>Active:</label>
          <select formControlName="active" id="cars" name="cars">
            <option [value]="true">Yes</option>
            <option [value]="false">No</option>
          </select>
        </div>
        <div class="divContainer">
          <label>Banned:</label>
          <select formControlName="banned" id="cars" name="cars">
            <option [value]="true">Yes</option>
            <option [value]="false">No</option>
          </select>
        </div>
        <div class="renameBtn mt-4">
          <button style="color:teal !important"  (click)="editpopup = false" class="docFavCancleBtn" >Cancel</button>
          <button class="docFavSaveBtn" type="submit">Edit</button>
        </div>    
      </form>
 </div>
</div>
    </div>

<div *ngIf="popup == true" class="popup-overlay">
  <div class="popup">
    <h2 style="border-bottom: 1px solid gray;">Edit Information</h2>
    <!-- <p>This is the content of the popup.</p> -->
    <div class="popupBody">
<div class="row" style="text-align: left;">
  <span class="mt-2">OS : <b>{{selectedUser.OS}}</b></span>
  <span class="mt-2">Device Type : <b>{{selectedUser.osVersion}}</b></span>
  <span class="mt-2">screen_resolution : <b>{{selectedUser.screen_resolution}}</b></span>
  <span class="mt-2">userAgent : <b>{{selectedUser.userAgent}}</b></span>
  <span class="mt-2 text-center">
    <img style="width: 100px;" *ngIf="selectedUser.isDesktop" src="../../assets/images/desktop.png" alt="desktop">
    <img style="width: 100px;" *ngIf="selectedUser.isTablet"  src="../../assets/images/tablet.png" alt="desktop">
    <img style="width: 100px;" *ngIf="selectedUser.isMobile"  src="../../assets/images/mobile.png" alt="desktop">
  </span>
</div>
    </div>
    <div class="renameBtn">
      <button style="color:white!important"   (click)="popup = false" class="docFavSaveBtn" >Close</button>
      <!-- <button class="docFavSaveBtn" >Delete</button> -->
    </div>    
      
    </div>
  </div>
<footer class="pc-footer">
  <div class="footer-wrapper container-fluid">
    <div class="row">
      <div class="col my-1">
        <p class="m-0"> Copyright &copy; <a href="" target="_blank">L-earn Design and Developed by Boom Tech</a> </p>
      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item"><a href="/" target="_blank">Home</a></li>
          <li class="list-inline-item">
            <a href="/privacy-policy/" target="_blank">Privacy Policy</a>
          </li>
          <li class="list-inline-item"><a href="" target="_blank">Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<app-configuration></app-configuration>
